body {
    background-image: url('../images/cinema.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    padding-left: 20px;
}

ol {
    list-style-type: upper-latin;
}

.list2 {
    color: yellowgreen;
    font-size: 25px;
    list-style: none;
}

.list1 {
    color: white;
    list-style-type: disc;
    font-size: 15px;
}

li {
    color: white;
}

.list {
    color: white;
    font-size: 15px;
}